@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@theme{
  --font-rajdhani :"Rajdhani", sans-serif;
  --font-rubik : "Rubik", sans-serif;
  --color-main : #FF494A;
  --color-black1 : #060606;
  --color-black2:#141414;
  --color-red1: #FF494A;
  --color-red2: #FF494A 50%;
  --color-gray1:#9F9F9F;
  --color-cardBG: #141414
}

@layer utilities {
  .container{
    @apply max-w-300 mx-auto 
  }
};

.text-outline {
  -webkit-text-stroke: 1px #FF494A; /* red-500 */
  color: transparent;
}
.text-outline2 {
  -webkit-text-stroke: 1px #9F9F9F; /* red-500 */
  color: transparent;
}